*{
    margin: 0em;
    padding: 0em;
}

body{
    /*background-color: #1c1410;*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#ipod {
    width: 250px;
    height: 400px;
    background-color: #1f1f1f;
    border: 3px solid #2e2e2e;
    border-radius: 20px;
    box-shadow: 
    0 0 0 1px #111,
    0 40px 60px rgba(0,0,0,0.6)
    ;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#screen-bezel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 11px 10px 0 10px;
    padding: 0.3em;
    background-color: #111;
    border-radius: 20px;
}

#screen {
    display: flex;
    background-color: #8ab4c4;
    height: 120px;
    border-radius: 15px;
    padding: 1em;
    overflow: scroll;
}

#wheel-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#wheel {
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #c0202a;
    position: relative;
}